{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-content">
            <!-- [ Main Content ] start -->
            <div class="row">
                <!-- order-card start -->
                <div class="col-md-6 col-xl-3">
                    <div class="card bg-c-blue order-card">
                        <div class="card-body">
                            <h6 class="text-white">Total Cases</h6>
                            <h2 class="text-end text-white"><i class="feather icon-shopping-cart float-start"></i><span>{{user_upload_cases | length}}건</span></h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="card bg-c-green order-card">
                        <div class="card-body">
                            <h6 class="text-white">Total Normalization Cases</h6>
                            <h2 class="text-end text-white"><i class="feather icon-tag float-start"></i><span>{{user_normalization_cases | length}}건</span>
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="card bg-c-yellow order-card">
                        <div class="card-body">
                            <h6 class="text-white">Total User Prompt Queries</h6>
                            <h2 class="text-end text-white"><i
                                    class="feather icon-repeat float-start"></i><span>{{user_prompt_queries | length}}개</span></h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="card bg-c-red order-card">
                        <div class="card-body">
                            <h6 class="text-white">Unnormalization Cases</h6>
                            <h2 class="text-end text-white"><i
                                    class="feather icon-award float-start"></i><span>{{user_unnormalization_cases | length}}건</span></h2>
                        </div>
                    </div>
                </div>
                <!-- order-card end -->
                <!-- users visite start -->
                <div class="col-md-12 col-xl-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>Unique Visitor</h5>
                        </div>
                        <div class="card-body ps-0 pb-0">
                            <div id="unique-visitor-chart"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-xl-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card bg-primary text-white">
                                <div class="card-body bg-patern-white">
                                    <div class="row">
                                        <div class="col-auto">
                                            <span>Case Disk Space</span>
                                        </div>
                                        <div class="col text-end">
                                            <h2 class="mb-0 text-white">{{total_size_gb}} GB</h2>
                                            <span class="text-white">8.2%<i class="feather icon-trending-up ms-1"></i></span>
                                        </div>
                                    </div>
                                    <div id="file-size-chart"></div>
                                    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
                                    <script>
                                        window.onload = function() {
                                            // Flask에서 전달한 데이터
                                            var folderLabels = {{ folder_labels | tojson }};
                                            var folderPercentages = {{ folder_percentages | tojson }};
                                            
                                            // 랜덤 색상 생성 함수
                                            function getRandomColor() {
                                                var letters = '0123456789ABCDEF';
                                                var color = '#';
                                                for (var i = 0; i < 6; i++) {
                                                    color += letters[Math.floor(Math.random() * 16)];
                                                }
                                                return color;
                                            }
                                    
                                            // 데이터의 개수에 맞게 랜덤 색상 배열 생성
                                            var colors = [];
                                            for (var i = 0; i < folderLabels.length; i++) {
                                                colors.push(getRandomColor());
                                            }
                                    
                                            // ApexCharts 차트 생성
                                            var options = {
                                                chart: {
                                                    height: 350,
                                                    type: 'donut',
                                                },
                                                dataLabels: {
                                                    enabled: false
                                                },
                                                plotOptions: {
                                                    pie: {
                                                        donut: {
                                                            size: '75%'
                                                        }
                                                    }
                                                },
                                                labels: folderLabels,  // Flask에서 전달한 폴더 이름
                                                series: folderPercentages,  // Flask에서 전달한 백분율 데이터
                                                legend: {
                                                    show: true
                                                },
                                                tooltip: {
                                                    theme: 'dark'
                                                },
                                                grid: {
                                                    padding: {
                                                        top: 20,
                                                        right: 0,
                                                        bottom: 0,
                                                        left: 0
                                                    },
                                                },
                                                colors: colors,  // 동적으로 생성된 랜덤 색상 배열
                                                fill: {
                                                    opacity: [1, 1, 1]
                                                },
                                                stroke: {
                                                    width: 0,
                                                }
                                            };
                                    
                                            var chart = new ApexCharts(document.querySelector("#file-size-chart"), options);
                                            chart.render();
                                        };
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ Main Content ] end -->
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <!-- Apex Chart -->
    <script src="/static/assets/js/plugins/apexcharts.min.js"></script>

    <!-- custom-chart js -->
    <script src="/static/assets/js/pages/dashboard-main.js"></script>

{% endblock javascripts %}
