{% extends "layouts/base.html" %}

{% block title %} Case Analyze {% endblock %}

{% block content %}
<div class="pcoded-main-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">나의 사건 분석</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#">Case</a></li>
                            <li class="breadcrumb-item"><a href="#">Analyze</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Case Analyze</h5>
                    </div>
                    <div class="card-body">
                        {% if case %}
                        <div class="card-body">
                            {% if case %}
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Case Number</th>
                                            <th>Case Analysis</th>
                                            <th>Case Description</th>
                                            {% if case.normalization != None %}
                                                <th>Prompt</th>
                                                <th>Action</th>
                                                <th>직접 분석</th>
                                                <th>질의 히스토리</th>
                                                <th>USB</th>
                                            {% else %}
                                                <th>케이스 정규화</th>
                                            {% endif %}
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{ case.case_number }}</td>
                                            <td>{{ case.analyst }}</td>
                                            <td>{{ case.description }}</td>
                                            {% if case.normalization != None %}
                                            <td>
                                                <input type="text" class="form-control prompt-input" data-case-id="{{ case.id }}" placeholder="Enter your prompt">
                                            </td>
                                            <td>
                                                <button class="btn btn-primary submit-prompt" data-case-id="{{ case.id }}">Submit</button>
                                            </td>
                                            <td>
                                                <button class="btn btn-primary" onclick="window.location.href='/case/analyze/view/{{case.id}}'">직접 분석</button>
                                            </td>
                                            <td>
                                                <button class="btn btn-primary" onclick="window.location.href='/case/analyze/view/{{case.id}}/history'">히스토리</button>
                                            </td>
                                            <td>
                                                <button class="btn btn-primary submit-usb" data-case-id="{{ case.id }}">Submit</button>
                                            </td>
                                            {% else %}
                                            <td colspan="2">
                                                <button class="btn btn-primary submit-normalization" data-case-id="{{ case.id }}">Submit</button>
                                            </td>
                                            {% endif %}
                                        </tr>
                                        {% if case.normalization != None %}
                                        <tr>
                                            <th colspan="2">Start Date</th>
                                            <th colspan="2">End Data</th>
                                            <th colspan="2">Filtering</th>
                                            <th colspan="2">Filtering History</th>
                                        </tr>
                                        <td colspan="2">
                                            <input type="datetime-local" id="start_date">
                                        </td>
                                        <td colspan="2">
                                            <input type="datetime-local" id="end_date">
                                        </td>
                                        <td colspan="2">
                                            <button class="btn btn-primary submit-filtering" data-case-id="{{ case.id }}">Submit</button>
                                        </td>
                                        <td colspan="2">
                                            <button class="btn btn-primary submit-filtering-history" data-case-id="{{ case.id }}">Submit</button>
                                        </td>
                                        {% endif %}
                                    </tbody>
                                </table>
                            {% else %}
                                <p>No case data available.</p>
                            {% endif %}
                        </div>
                        {% else %}
                            <p>No cases uploaded yet.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
        <div id="progress-container" style="display: none;">
            <p>Progress:</p>
            <div class="progress">
                <div id="progress-bar" class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p id="progress-text">0% Complete</p>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('.submit-prompt').forEach(function(button) {
            button.addEventListener('click', function() {
                var caseId = this.getAttribute('data-case-id');
                var promptInput = document.querySelector('.prompt-input[data-case-id="' + caseId + '"]');
                var promptValue = promptInput.value;
                if (promptValue.trim() === '') {
                    alert('Please enter a prompt.');
                    return;
                }

                fetch('/case/analyze/prompt', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ case_id: caseId, prompt: promptValue }),
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        // Redirect based on the URL provided by the server
                        showProgress(caseId, function(){
                            alert('정상적으로 처리되었습니다.');
                            window.location.href = "/case_graph/" + {{case.id}};
                        });
                    } else {
                        alert('Failed to submit the prompt.');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('An error occurred while submitting the prompt.');
                });
            });
        });
        document.querySelectorAll('.submit-usb').forEach(function(button) {
            button.addEventListener('click', function() {
                var caseId = this.getAttribute('data-case-id');
                fetch('/case/analyze/usb', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ case_id: caseId}),
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        // Redirect based on the URL provided by the server
                        console.log(data)
                        showProgress(caseId, function(){
                            alert('정상적으로 처리되었습니다.');
                            window.location.href = "/case/analyze/usb/" + {{case.id}};
                        });
                    } else {
                        alert('Failed to submit the prompt.');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('An error occurred while submitting the prompt.');
                });
            });
        });
        document.querySelectorAll('.submit-normalization').forEach(function(button) {
            button.addEventListener('click', function() {
                var caseId = this.getAttribute('data-case-id');
                fetch('/case/analyze/normalization', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ case_id: caseId }),
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        showProgress(caseId, function () {
                            location.reload();
                            alert('정규화 처리가 완료되었습니다.');  // Start showing progress
                        });
                    } else {
                        alert('Failed to start the normalization process.');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('An error occurred while starting the normalization process.');
                });
            });
        });

        document.querySelectorAll('.submit-filtering').forEach(function(button) {
            button.addEventListener('click', function() {
                var caseId = this.getAttribute('data-case-id');
                var startDate = document.getElementById('start_date').value;
                var endDate = document.getElementById('end_date').value;
                var promptInput = document.querySelector('.prompt-input[data-case-id="' + caseId + '"]');
                if (startDate == '') {
                    alert('Please enter a StartDate.');
                    return;
                }
                if (endDate == ''){
                    alert("Please enter a EndDate.");
                    return;
                }

                fetch('/case/analyze/filtering', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ case_id: caseId, startDate: startDate, endDate : endDate }),
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        alert('정상적으로 처리되었습니다.');
                        window.location.href = "/case/analyze/filtering/" + {{case.id}};
                        console.log(data);
                    } else {
                        alert('Failed to submit the filtering.');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('An error occurred while submitting the filtering.');
                });
            });
        });

        function showProgress(caseId, onComplete) {
            // Show the progress bar
            document.getElementById('progress-container').style.display = 'block';

            // Function to poll the server for progress updates
            function updateProgress() {
                fetch(`/case/analyze/normalization/progress/${caseId}`, {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                    }
                })
                .then(response => response.json())
                .then(data => {
                    const progressValue = data.progress;
                    const progressBar = document.getElementById('progress-bar');
                    const progressText = document.getElementById('progress-text');

                    // Update the progress bar and text
                    progressBar.style.width = `${progressValue}%`;
                    progressBar.setAttribute('aria-valuenow', progressValue);
                    progressText.textContent = `${progressValue}% Complete`;

                    // Continue polling if not yet complete
                    if (progressValue < 100) {
                        setTimeout(updateProgress, 1000);  // Poll every second
                    } else {
                        onComplete();  // Reload the page upon completion
                    }
                })
                .catch(error => {
                    console.error('Error fetching progress:', error);
                });
            }

            // Start polling for progress updates
            updateProgress();
        }
    });
</script>
{% endblock javascripts %}
